<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/burger_style.css" type="text/css">
    <title>{{ title }}</title>
</head>
<body>
    <img src="https://bicontent.businessinsurance.com/f9fe614f-f4a4-401f-8714-4b04d5bb7159.jpg" id="burger">

    {{{body}}}

    <div class="row">
        <div class="col"></div>
            <form action="/" method="POST" id="addABurger">
                <input type="text" name="burger_name"></input>
                <button id="add-burger-btn" class="btn waves-effect waves-light btn-small" type="submit">Submit</button>
                <p>Place your burger order!</p>
            </form>
        </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous">
    </script>

    <script src="/javascript/formValidation.js"></script>

</body>

</html>